<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>Alerta  Migratoria</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="estilo.css" rel="stylesheet" type="text/css">
	
	
	
</head>

<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Migracion y Extranjeria</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href=>Registro Alerta Migratoria</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
		 <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/verified-user.png" width="30px" height="30px" alt="Usuario Logeado"><span caret></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Cerrar Sesion</a></li>
        </ul>
      </li>
		
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>
	<h1>Registro de Alerta Migratoria</h1>
	
	<form name="alertaform">
		<label>Nombre:</label>
		<input name="textfieldaalertp" type="text" required="required" id="textfieldalertp" placeholder="Ingrese nombre" title="Ingrese el nombre de la persona" size="150px" maxlength="200">
		
		<label>Pais:</label>
		<select></select>
		<br>
		<label>Motivo</label>
		<input type="text" required="required" placeholder="Ingrese el motivo" title="Ingrese el motivo po el cual la persona posee alerta migratoria" size="150px" maxlength="200">
	
	
	
	<br><br>
	<div class="form-row">
		<div class="form-group-lg">
	    <a><img src="img/guardar-el-archivo.png" alt="Guardar" width="50" height="50" title="Guardar"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img src="img/cancelar.png" alt="Cancelar" width="51" height="50" title="Cancelar"></a> </div>
  </div>
	</form>
	
	
	<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>
